<h2>New Plant</h2>

<form action="/plants" method="post">
  <label for="plant[name]">NAME:</label>
  <input name="plant[name]" autofocus>

  <label for="plant[photo_url]">PLANT URL:</label>
  <input name="plant[photo_url]" autofocus>

  <label for="plant[properties]">PROPERTIES:</label>
  <input name="plant[properties]" autofocus>

  <input type="submit" value="Create">
</form>